html {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
